.forum-topic {
  display: flex;

  &__panel {
    min-width: 600px;
    min-height: 75%;
    padding: 2% 5%;
  }

  &__heading {
    margin-top: 0;
  }

  &__content {
    min-width: 300px;
    width: 80%;
    max-width: 780px;
  }

  &__topic-msg {
    padding-bottom: 12px;
    margin-bottom: 28px;
    border-bottom: 22px solid var(--tpr-color-dark-shade);
  }

  &__reply {
    margin-bottom: 20px;
  }

  &__reply_secondary {
    padding-left: 40px;
  }

  &__message-to-reply {
    cursor: pointer;
  }
}
