.forum {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__panel {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
    padding: 2% 5%;
  }

  &__table {
    flex-grow: 1;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__create-topic {
    margin-top: 12px;
  }
}
