.table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 15px;
  }

  thead {
    color: var(--tpr-color-accent);
    font-size: var(--tpr-fontsize-xl);

    td {
      cursor: pointer;
    }
  }

  tbody {
    color: var(--tpr-color-primary);
    font-size: var(--tpr-fontsize-l);
  }

  tr {
    height: calc(2 * var(--tpr-fontsize-xl));
  }

  &__sort-direction {
    font-size: 0.83em;
  }
}
