.forum-msg {
  display: flex;
  justify-content: flex-start;

  &__avatar {
    flex: 0 0;
    margin-right: 13px;
  }

  &__header {
    display: flex;
    flex-flow: column;
    margin-bottom: 8px;
  }

  &__footer {
    display: flex;
  }
}
