.text {
  font-size: var(--tpr-fontsize);
  line-height: var(--tpr-fontsize);
  margin: 0;

  &_color_primary {
    color: var(--tpr-color-primary);
  }

  &_color_light {
    color: var(--tpr-color-light);
  }

  &_color_accent {
    color: var(--tpr-color-accent);
  }

  &_size_small {
    font-size: var(--tpr-fontsize-s);
    line-height: var(--tpr-fontsize-s);
  }

  &_size_large {
    font-size: var(--tpr-fontsize-l);
    line-height: var(--tpr-fontsize-l);
  }

  &_size_extra {
    font-size: var(--tpr-fontsize-x);
    line-height: var(--tpr-fontsize-x);
  }
  &_size_extra2 {
    font-size: var(--tpr-fontsize-x);
    line-height: var(--tpr-fontsize-x);
  }
  &_size_extra3 {
    font-size: var(--tpr-fontsize-x3);
    line-height: var(--tpr-fontsize-x3);
  }
}
